{% load static %}
{% for obj in activities_list %}

<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            {% with 'images/clubs/'|add:obj.image|add:'' as image_static %}
            <img src="{% static image_static %}" />
            {% endwith %}
            <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" href="#{{obj.id}}">
                <i class="material-icons black">add</i>
            </a>
        </div>
        <div class="card-content">
            <span class="card-title">{{ obj.title }}</span>
            <p>{{obj.subtitle}}</p>
        </div>
    </div>
</div>

<div id="{{obj.id}}" class="modal">
    <div class="modal-content">
        <div class="col s12 center-align">
            {% with 'images/clubs/'|add:obj.image|add:'' as image_static %}
            <img src="{% static image_static %}" class="responsive-img">
            {% endwith %}
            <h4>{{ obj.title }}</h4>
            <p class="left-align">{{ obj.description|safe }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn black">Close</a>
    </div>
</div>

{% endfor %}
