{% extends 'mainapp/base.html' %}
{% block content %}
<div class="container">
	<h1 class="light">Announcements</h1>
	<ul class="collection">
		{% for a in announcement_list %}
			<a class="collection-item modal-trigger black-text" href="#announcement-{{ forloop.counter0 }}"><span class="truncate bigger-text">{{a.text_string}}</span> <i class="left material-icons">access_time</i> {{a.time_of_announcement}}</a>
		{% endfor %}
	</ul>
</div>
{% for a in announcement_list %}
	<div id="announcement-{{ forloop.counter0 }}" class="modal">
		<div class="modal-content">
			<h4><i class="material-icons left modal-time">access_time</i> {{a.time_of_announcement}}</h4>
			<p>{{a.text_string}}</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$('.modal').modal();
	});
</script>
{% endblock %}
