<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <title>NITK SC-PORTAL</title>

</head>

<body>
<main>
    <div class="navbar-fixed">
        <nav class="nav-extended" style="background-color:#263238  !important;">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo blue-grey-text text-lighten-5">
                    <img class="responsive-img left" style="height: 60px;" src="{% static 'images/emblem.png' %}">
                    <span style="font-size: 22px;">SC Portal</span>
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Others<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>

                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'forms' %}">Forms</a></li>
        <li><a href="{% url 'announcements' %}">Announcements</a></li>
        <li><a href="{% url 'council' %}">Council</a></li>
        <li><a href="{% url 'documents' %}">Documents</a></li>
        <li><a href="{% url 'meeting' %}">Meetings</a></li>
        <li><a href="{% url 'grievances' %}">Grievances</a></li>
        <li><a href="{% url 'club' %}">Clubs</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'forms' %}">forms</a></li>
        <li><a href="{% url 'announcements' %}">announcements</a></li>
        <li><a href="{% url 'council' %}">council</a></li>
        <li><a href="{% url 'documents' %}">documents</a></li>
        <li><a href="{% url 'meeting' %}">meetings</a></li>
        <li><a href="{% url 'grievances' %}">grievances</a></li>
        <li><a href="{% url 'club' %}">clubs</a></li>
        <!--<li class="divider"></li>-->
    </ul>

    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown();
    });
</script>
</body>
</html>
