{% extends 'mainapp/base.html' %}
{% block content %}

<h1>Documents</h1>




<h5>Minutes of the Meets : </h5>
{% for a in documents_list %}
{% if a.type_of_doc == "mom" %}

        <a href='{% url "db_file_storage.download_file" %}?name={{ a.the_file }}'>
        <i class="waves-effect waves-light btn">Click here to download  <b>{{a.name}} </b></i>
    </a><br><br>

{% endif %}
{% endfor %}



<h5>Semester Report :</h5>
{% for a in documents_list %}
{% if a.type_of_doc == "sem" %}

<a href='{% url "db_file_storage.download_file" %}?name={{ a.the_file }}'>
        <i class="waves-effect waves-light btn">Click here to download <b>{{a.name}} </b> </i>
    </a><br><br>

{% endif %}
{% endfor %}



<h5> Other documents : </h5>
{% for a in documents_list %}
{% if a.type_of_doc == "other" %}

<a href='{% url "db_file_storage.download_file" %}?name={{ a.the_file }}'>
        <i class="waves-effect waves-light btn">Click here to download <b>{{a.name}} </b></i>
    </a><br><br>
{% endif %}
{% endfor %}


{% endblock %}
