{% extends 'mainapp/base.html' %}
{% block extra_css %}
<style type="text/css">
  .meeting-card {
    border-radius: 10px;
  }

  .no-bottom-margin {
    margin-bottom: 0px;
  }

  #dropdown1 {
    width: initial !important;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="light">Meetings</h1>
    <div class="row">
    {% for a in meeting_list %}
        <div class="row no-bottom-margin">
            <div class="col s12 m12 l12">
                <div class="card black white-text meeting-card">
                    <div class="card-content white-text">
                      <span class="card-title">Agenda: {{ a.Agenda }}</span>
                      <p><i class="left material-icons">access_time</i> {{ a.time_of_meeting }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}