{% extends 'mainapp/base.html' %}
{% block extra_css %}
<style>
    p {
        margin: 0
    }

    a {
        color: inherit;
    }

    .ob {
        max-height: 250px;
        margin-bottom: 20px;
        margin-top: 30px
    }

    .mobile-fab-tip {
        position: fixed;
        right: 85px;
        padding: 0px 0.5rem;
        text-align: right;
        background-color: #323232;
        border-radius: 2px;
        color: #FFF;
        width: auto;
    }

    #dropdown1 {
        width: initial !important;
    }

    .nav-btn {
        border: 0.5px solid black;
    }
</style>

{% endblock %}
{% block content %}
<div class="container">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12 m10">
                <h1 class="header light">Know Your Council</h1>
            </div>
        </div>
    </div>

</div>



<div class="container">
    <h4 class="light header" id="main_council">Student Council </h3>
        <ul class="collapsible">


            <li>
                {% include "team/group.html" with group_title="Core Student Council" member_list=core only %}
            </li>

            <li>
                {% include "team/group.html" with group_title="Incident Council" member_list=inci only %}
            </li>

            <li>
                {% include "team/group.html" with group_title="Engineer Council" member_list=engi only %}
            </li>

        </ul>
</div>
<br>
<div class="container">
    <h4 class="light header" id="exec">Executive Council</h3>
        <ul class="collapsible">
            <li>
                {% include "team/group.html" with group_title="Student Activities Adivisory" member_list=stud_act_adv only %}
            </li>
            <li>
                {% include "team/group.html" with group_title="Academic Advisory" member_list=acad_adv only %}
            </li>

            <li>
                {% include "team/group.html" with group_title="PG and PhD Advisory" member_list=phd_pg_adv only %}
            </li>
            <li>
                {% include "team/group.html" with group_title="Sports Advisory" member_list=sports_adv only %}
            </li>
            <li>
                {% include "team/group.html" with group_title="Alumni Advisory" member_list=alumni_adv only %}
            </li>

            <li>
                {% include "team/group.html" with group_title="Hostel Advisory" member_list=hostel_adv only %}
            </li>
        </ul>
</div>
<br>
<div class="container">
        <ul class="collapsible">
            <li>
                {% include "team/group.html" with group_title="Student Activities Adivisory - Club Conveners" member_list=club_con only %}
            </li>
            <li>
                {% include "team/group.html" with group_title="Hostel Advisory - Hostel Representatives" member_list=hostel_rep only %}
            </li>

            <li>
                {% include "team/group.html" with group_title="Sports Advisory - Sports Captains" member_list=sports_cap only %}
            </li>
            <li>
                {% include "team/group.html" with group_title="Alumni Advisory - Alumni Coordinators" member_list=alumni_coord only %}
            </li>
        </ul>
</div>
<br>
<div class="container">
    <h4 class="light header" id="cr">Class Representatives</h3>
        <ul class="collapsible">
            <li>
                {% include "team/group.html" with group_title="PhD - Class Representatives" member_list=cr_phd only %}
            </li>
            <li>
                {% include "team/group.html" with group_title="Post Graduate - Class Representatives" member_list=cr_pg only %}
            </li>
            <li>
                {% include "team/group.html" with group_title="Fourth Year - Class Representatives" member_list=cr4 only %}
            </li>
            <li>
                {% include "team/group.html" with group_title="Third Year - Class Representatives" member_list=cr3 only %}
            </li>

            <li>
                {% include "team/group.html" with group_title="Second Year - Class Representatives" member_list=cr2 only %}
            </li>
            {% comment %}
            <li>
                {% include "team/group.html" with group_title="First Year - Class Representatives" member_list=cr1 only %}
            </li>
            {% endcomment %}
        </ul>
</div>

{% comment %}
https://github.com/Dogfalo/materialize/issues/963
philipraets comment
{% endcomment %}
<div id="main-btn" class="fixed-action-btn click-to-toggle" style="bottom:24px; right:24px;">
    <a class="btn-floating btn-large white nav-btn"><i class="large material-icons black-text">menu</i></a>
    <ul>
        <li>
            <a href="#main_council" class="btn-floating teal"><i class="material-icons">chevron_left</i></a>
            <a href="#main_council" class="btn-floating mobile-fab-tip">Main Councils</a>
            <!--tooltip-->
        </li>
        <li>
            <a href="#exec" class="btn-floating blue"><i class="material-icons">chevron_left</i></a>
            <a href="#exec" class="btn-floating mobile-fab-tip ">Advisories</a>
            <!--tooltip-->
        </li>
        <li>
            <a href="#cr" class="btn-floating amber lighten-1"><i class="material-icons">chevron_left</i></a>
            <a href="#cr" class="btn-floating mobile-fab-tip">Class Representatives</a>
            <!--tooltip-->
        </li>
    </ul>
</div>
{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {

        $('.collapsible').collapsible();

    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            direction: 'top',
            hoverEnabled: false
        });
    });

    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>


{% endblock %}