{% comment %}
If u are adding more information about each memeber delete/adjust the ob css class
If the webpage layout gets messed up delete the ob CSS class.
I have just added it to control the layout so that the different cells dont overlap on tablet size displays.
{% endcomment%}


<div class="row collapsible-header">
    {{group_title}}
</div>
<div class="collapsible-body row">

    {% for obj in member_list %}
    <div class=" center col s12 m3 ob">
           {% if obj.group is not "cr-2" or obj.group is not "cr-3" or obj.group is not "cr-4" %}
        <img src="https://via.placeholder.com/150" class="circle responsive-img hide-on-small-only">

        <p class="promo-caption">{{obj.post}}</p>
        <p class="light">
            {{obj.name}}
        </p>
        <a href="{{obj.facebook}}">
            <span class="fa-stack fa">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="{{obj.linkedin}}">
            <span class="fa-stack fa">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {% endif %}
        <p>
            <a class="envelope social" href="mailto:{{obj.email}} target=" _blank">
                <i class="fa fa-envelope"></i>
                {{obj.email}}
            </a>
        </p>
        <p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            {{obj.phone}}
        </p>
    </div>

    {% endfor %}
</div>
